@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #ffff);
    min-height: 100vh;/*altura minima de 100% da tela,  isso se usa porque quando a tela for para uma escala menor ela tende a quebrar a cor de fundo que está em degradê, ai isso é usado para que ela fique de maneira que não quebre.*/
}

main{
    display: inline-block; /*Essa propriedade é usada para cobrir uma certa area do bloco*/
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex{
    width: 100%;
    max-width: 425px;
}

.pokemon_image{
    position: absolute;
    left: 50%;
    bottom: 55%;
    transform: translate(-63%,20%);
    height: 18%;
}
.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right:27%;
    font-size: clamp(8px, 5vw, 25px);/*essa função vai receber três parametros são eles, min, desejavel, max, todas esses parametros vem da ideia de tamanho da fonte, ou seja, a altura minima, a desejada e a maxima.*/
}
.pokemon_name{
    color: #3a444d;
    text-transform: capitalize;
}
.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;

}
.input__search{
    width: 100%;
    padding: 4%;
    border: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px,5vw,1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}
.buttons{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0); /*Posição do eixo x que é o primeiro valor e o eixo y que é o segundo valor.*/
    display: flex; /*Essa propriedade é usada para que os dois botões não fiquem um em cima do outro e sim lado a lado*/
    gap: 20px;/*Usado para dar um espaçamento entre elementos*/ 

}
.button{
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px,5vw,1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;

}
.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}