body{
    padding: 0px;
    margin: 0px;
}
header>span>a{
    text-decoration: none;
    display: flex;
    
}    
header{
    justify-content: space-between; 
    
}
h1{
    color: wheat;
}
ul{
    text-decoration: none;
    list-style: none;
}
ul>li>a{
    text-decoration: none;
}